<ion-header>
  <ion-toolbar>
    <ion-title>Control de Gastos</ion-title>
    <ion-label id="sub-title">- Un registro de gastos mas facil -</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ACCEDER</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form">
        <ion-input type="text" placeholder="Nombre..." formControlName="email"></ion-input>
        <div *ngIf="email.touched && email.invalid">
          <span *ngIf="email.errors.required">Es necesario</span>
          <span *ngIf="email.errors.email">Debe ser un correo</span>
        </div>
        <br>
        <ion-input type="password" placeholder="Contraseña..." formControlName="password"></ion-input>
        <div *ngIf="password.touched && password.invalid">
          <span *ngIf="password.errors.required">Es necesario</span>
        </div>
      </form>
    </ion-card-content>
    <ion-item>
      <!-- <div *ngIf="error">
          <span *ngIf="error.code === 'auth/user-not-found'"> Error: El correo no esta registrado.</span>
          <span *ngIf="error.code === 'auth/wrong-password'"> Error: La clave es erronea.</span>
      </div> -->
      
      <div id="btn-login-div">
          <!-- <button ion-button id="btn-login" (click)="userLogin()" [disabled]="form.invalid">Entrar</button> -->
          <ion-button (click)="userLogin()" [disabled]="form.invalid" color="danger">Entrar</ion-button>
      </div>
    </ion-item>
  </ion-card>
</ion-content>