<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Gastos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card id="inputs-card">
      <form [formGroup]="form">
        <ion-item>
          <ion-input type="text" placeholder=" He gastado en..." formControlName="details"></ion-input>
          <div *ngIf="details.touched && details.invalid">
            <span *ngIf="details.errors.required">Es necesario</span>
          </div>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder=" $..." formControlName="cost"></ion-input>
          <div *ngIf="cost.touched && cost.invalid">
            <span *ngIf="cost.errors.required">Es necesario</span>
            <span *ngIf="cost.errors.min"> 0 es invalido</span>
          </div>
        </ion-item>
      </form>
    </ion-card>
  </div>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add" (click)="add(form.value)"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card scrollY="true" class="card-list">
    <div id="list-scroll">
      <ion-list class="list" *ngFor="let item of expenses | async">
        <ion-item-sliding>
          <ion-item>
            {{ item["details"] }} ${{ item["cost"] }}
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="delete(item['_id'])" color="danger">Borrar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </ion-card>

  <ion-card class="card-totals">
    <div id="totals-containter">
      <ion-item>
        Total Gastos:
      </ion-item>
      <ion-item>
        Disponible:
      </ion-item>
    </div>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div id="footer-menu">
      <div id="btn-stats-div">
        <button id="btn-stats" (click)="gotoStats()">Estadisticas</button>
      </div>
      <div id="btn-salir-div">
        <button id="btn-salir" (click)="gotoLogin()">Salir</button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>