<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Gastos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-add-expenses></app-add-expenses>
  <app-expenses-list></app-expenses-list>
  <app-totalizer></app-totalizer>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div id="footer-menu">
      <div id="btn-stats-div">
        <button id="btn-stats" (click)="gotoStats()">Estadisticas</button>
      </div>
      <div id="btn-salir-div">
        <button id="btn-salir" (click)="gotoLogin()">Salir</button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>